PyMuPDF==1.22.3

# NLP integration (choose one or both)
langchain

# File and environment management
python-dotenv

# Database (ORM)
SQLAlchemy

# Pydantic for validation (already part of FastAPI, included here for clarity)
pydantic

# CORS
fastapi

google-generativeai

langchain_community

sentence-transformers

langchain-huggingface